<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/livreur">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Livreurs</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/client">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Clients</span>
            </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
            <i class="icon-bar-graph menu-icon"></i>
            <span class="menu-title">Colis</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/colis">colis</a></li>
            </ul>
        </div>

        <div class="collapse" id="charts">
            <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" routerLink="/livraison">Livraison</a></li>
            </ul>
        </div>
        </li>
        
    </ul>
</nav>